table {
    background-color: red;
    border-collapse: separate;
    border-spacing: 0 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
}

th {
    font-family: "NeueHaasGrotesk-Bold", sans-serif;
    /*font-size: 1.25rem;*/
    font-weight: normal;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

tr {
    border: 1px solid #cdcdcd;
    text-align: left;
}

td {
    font-family: "NeueHaasGrotesk-Regular", sans-serif;
    font-weight: lighter;
    padding: 0.75rem 0;
}

input {
    height: 20px;
    width: 20px;
}

.table--numCheckboxesSelected {
    /*min-width: 10rem;*/
}

.table--downloadSelectedBtn {
    /*Flexbox*/
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;
    font-family: "NeueHaasGrotesk-Bold", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
    text-transform: uppercase;
}

.table--downloadSelectedBtn:hover {
    cursor: pointer;
}

.table--downloadImg {
    height: auto;
    margin-right: 0.5rem;
    width: 1rem;
}

.table--trAvailable {
    cursor: pointer;
}

.table--trAvailable:hover {
    background-color: #eeeeee !important;
}

.table--trScheduled {
    color: #999999;
    cursor: not-allowed;
}

.table--tdGreenCircle {
    text-align: center;
    vertical-align: center;
}

.table--greenCircle {
    background-color: #82d032;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    margin: auto 0;
    width: 15px;
}